fastapi
uvicorn
langchain
langchain-community
langchain-google-genai
langchain-chroma
chromadb
nltk
google-api-python-client
google-auth
google-auth-oauthlib
google-generativeai
pypdf
python-multipart
